{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Change</title>
    {% include 'shared/libraries.html' %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
    {% include 'shared/nav.html' %}
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
          <img src="{% static 'img/login.png' %}" id="icon" alt="User Icon" />
        </div>
        <h3>Change Password</h3>
        <!-- Login Form -->
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Save">
        </form>

        <!-- Remind Passowrd -->
        <!--
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
        -->

      </div>
    </div>
</body>
</html>