        .posts, .comments {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
        }

        .post_image_div {
            float: left;
            width: 30%;
            text-align: center;
            padding-right: 10px;

        }

        .post_image {
            max-width: 160px;
            max-height: 180px;


        }
        .post_text {
            margin: 0px;
        }

        .post_text_div {
            float: left;
            width: 70%;
        }

        .post {
            width: 600px;
            min-height: 260px;
            border: 3px solid #dddddd;
            border-radius: 9px;
            margin: 10px;
            padding: 10px;
        }

        .full_post, .comments {
            width: 80%;
            margin-left: 10%;
            margin-top: 30px;
            border: 3px solid #dddddd;
            border-radius: 9px;
            overflow: auto;
            padding: 10px;
        }

        .comments {
            width: 70%;
            margin-left: 15%;
        }
        .comment {
            width: 100%;
        }

        .comment .post_image_div {
            max-width: 300px;
        }

        .post:after .full_post:after {
            content: "";
            display: table;
            clear: both;
        }

        .categories {
            width: 50%;
            margin-left: 25%;

        }

        ol {
          counter-reset: li; /* Initiate a counter */
          list-style: none; /* Remove default numbering */
          *list-style: decimal; /* Keep using default numbering for IE6/7 */
          font: 15px 'trebuchet MS', 'lucida sans';
          padding: 0;
          margin-bottom: 4em;
          text-shadow: 0 1px 0 rgba(255,255,255,.5);
        }

        ol ol {
          margin: 0 0 0 2em; /* Add some left margin for inner lists */
        }

         .rounded-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
  }

  .rounded-list a:hover{
    background: #eee;
  }

  .rounded-list a:hover:before{
    transform: rotate(360deg);
  }

  .rounded-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2.5em;
    width: 2.5em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
  }

  #image_preview {
      max-width: 300px;
      max-height: 300px;
  }