        .posts {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
        }

        .post_image_div {
            float: left;
            width: 30%;
            text-align: center;
            padding-right: 10px;

        }

        .post_image {
            max-width: 160px;
            max-height: 180px;


        }
        .post_text {
            margin: 0px;
        }

        .post_text_div {
            float: left;
            width: 70%;
        }

        .post {
            width: 600px;
            min-height: 206px;
            border: 3px solid #dddddd;
            border-radius: 9px;
            margin: 10px;
            padding: 10px;

        }

        .post:after {
            content: "";
            display: table;
            clear: both;
        }