{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All posts | {{ user.username }}</title>
    {% include 'shared/libraries.html' %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>
{% include 'shared/nav.html' %}

<div class="posts">
    {% for post in posts %}
        <a style="color: black;" href="/posts/{{ post.id }}">
            <div class="post">
                <div class="post_image_div">
                    <img src="/media/{{ post.image }}" class="post_image">
                </div>
                <div class="post_text_div">
                    <h3 class="post_heading">{{ post.heading }}</h3>
                    <p class="post_text">{{ post.text|truncatechars:200 }}</p>
                    <p class="post_text"><b>Created by: {{ post.user.username }}</b>
                        {% if post.user.is_superuser %}
                            <b>(administrator)</b>
                        {% endif %}
                    </p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

</body>
</html>